.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Jupyter Notebook
.ipynb_checkpoints
# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
uv.lock
# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
tb_logs/
csv_logs/
*/.ruff_cache

logs/
tb_logs/
csv_logs/
.python-version
models/
SPMF/
